.ant-menu-dark {
    &.ant-menu-inline {
        .ant-menu-item-selected {
            background-color: #5f5f5f !important;
        }
    }
}

.custom-trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
}

.ant-layout-sider-collapsed {
    overflow-y: initial !important;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: bold;
    i {
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 10px;
        margin: 1px;
        border-width: 2px;
        border-style: solid;
        border-radius: 100%;
        &.bottom {
            left: auto;
            top: auto;
            bottom: 0;
            right: 0;
        }
        &.on {
            background-color: #6cc788;
        }
    }
    img {
        border-radius: 500px;
        width: 100%;
    }
}

.ant-layout {
    height: 100vh;
}

.auth-loading {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

