.user-list-view-container {

}

.add-user-view-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .form-container {
        width: 500px;
        margin-left: 100px;
    }
}